
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Phonebook</a>

    <!-- Custom toggler button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <!-- Use 3 dots instead of hamburger -->
      <span style="font-size: 1.5rem;">&#8942;</span> 
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav ms-auto">
        <a class="nav-link" routerLink="/"> <i class="bi bi-house"></i>&nbsp;Home</a>
        <a class="nav-link" routerLink="/add"> <i class="bi bi-plus-circle"></i>&nbsp;Add Contact</a>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>